{% extends 'base.html.twig' %}

{% set page = 'app_artist_index' %}

{% block title %}Recherche Artiste Spotify{% endblock %}

{% block body %}
    <div class="d-flex align-items-center me-2">
        <div>
            <h1>Recherche d'un artiste</h1>
            {{ render(path('app_include_search_form_artist')) }}

        </div>
        <a class="ms-auto btn btn-danger" aria-current="page" href="{{ path('app_track_fav') }}">Mes Tracks
            <span class=""><i class=" fa fa-heart"></i></span></a>


    </div>

    <hr>

    {% if search is not null%}<h2>Résultat pour {{ search }} :</h2>{% endif%}

    <div class="d-flex flex-wrap justify-content-center gap-4" >

        {% if artists is not empty %}
            {% for artist in artists %}

                <div class="d-flex flex-column gap-2 p-2 bg-light rounded card" style="width: 18rem;" >
                    <img src="{{ artist.imageUrl }}" alt="{{ artist.name }}" height="100%" width="100%" class="rounded align-self-center" >
                    <div class="d-flex align-items-center card-body" >
                        <div>
                            <p class="fw-bold font-decoration-none" >
                                <a class="streched-link" href="{{ path('app_artist_show',{"id":artist.idSpotify}) }}">{{ artist.name }}</a></p>
                            <p>{{ artist.followers }} followers</p>

                        </div>

                    </div>
                    <div class="ms-auto d-flex gap-2" >
                        <a class="btn btn-primary" href="{{ path('app_artist_show',{"id":artist.idSpotify}) }}">Voir</a>
                        {% if artist.idSpotify in fav %}
                            {% include 'artist/_delete_from_like.html.twig' %}
                        {% else %}
                            {% include 'artist/_add_to_like.html.twig' %}
                        {% endif %}

                    </div>

                </div>

            {% endfor %}
        {% else %}
            <p>Aucun résultat trouvé.</p>
        {% endif %}

    </div>

{% endblock %}